nav {
  ul {
    gap: 20px;

    li {
      a {
        color: black !important;
        font-weight: 500 !important;
      }
    }

    .dropdown-toggle:hover,
    .oe_unremovable:hover {
      color: white !important;
    }

    a:hover {
      color: #7f2e8c !important;
    }
  }

  .active {
    color: #7f2e8c !important;
  }
}

.hero_section {
  background-image: url("./../images/home/hero_section.webp");
  background-size: cover;
  background-position: center;
}

@media (max-width: 991px) {
  .fs-48 {
    font-size: 48px !important;
  }
  .custom-partner {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .custom-partner-container {
      animation: scroll-left 10s linear infinite;

      .slider-track {
        width: 137.6px !important;
        height: 32px !important;
      }
    }
  }
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

.services_home {
  .box {
    .icon-box {
      background-color: #a973b2;
      padding: 12px;
      border-radius: 12px;
      display: inline-block;
    }
  }
}

.content-response {
  position: absolute;
  right: 0;
  top: -34px;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 25px;
}

.cursor-arrow {
  width: 50px !important;
  background: #7f2e8c;
  height: 50px !important;
  margin: auto;
  border-radius: 50px;
}

.cursor-custom a {
  opacity: 1;
}

@media (max-width: 999px) {
  .cursor-arrow {
    margin-left: -17px !important;
  }

  .cursor-custom {
    position: absolute;
    left: 50%;
    bottom: 7px;
    transform: translateX(-50%);
    width: 100px;

    a {
      width: 64px;
      height: 64px;
    }
  }
  .content-response {
    position: absolute;
    top: -34px;
    left: 50%;
    width: max-content;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.7);
    opacity: 1 !important;
    padding: 10px;
    border-radius: 25px;
  }
}

.carousel-indicators {
  display: none !important;
}

.carousel-control-prev,
.carousel-control-next {
  display: flex !important;
}

.carousel-control-prev-icon:before {
  font-size: 32px !important;
  margin-left: auto !important;
}

.carousel-control-prev-icon {
  width: 64px !important;
  height: 64px !important;
  padding: 10px;
}

//global response
@media (max-width: 999px) {
  .imag-response-hero {
    width: 160px !important;
  }
  .size-custom {
    font-size: 28px !important;
  }
  .custom_image_unlock {
    width: 122px !important;
    height: 122px !important;
  }
}

.btn-subscribe:hover svg {
  transform: translateX(10px);
  transition: 0.7s;
}

@media (max-width: 789px) {
  .custom_image_unlock {
    width: 122px !important;
    height: 122px !important;
  }
}

.industry-impact {
  .list-style {
    list-style: disc;
  }
}

@media (max-width: 999px) {
  .boredr-res-b {
    border-bottom: none !important;
  }

  .industry-impact {
    .box {
      border-bottom: 1px solid black;
      padding-bottom: 20px;
    }
  }
}

.futcherd_post {
  .o_record_cover_container {
    height: 500px !important;
  }

  .widget {
    padding: 4px 12px;
    border-radius: 8px;
    background: #fef9c3;
    width: fit-content;
  }
}

.widget {
  padding: 4px 12px;
  border-radius: 8px;
  background: #fef9c3;
  width: fit-content;
}

@media (max-width: 789px) {
  .title {
    font-size: 24px !important;
  }
}

.pagination {
  a {
    background: transparent !important;
    color: black;
    border: none !important;
  }

  a:hover {
    background: none !important;
  }

  margin: auto !important;
  padding-top: 72px;
}

.pagenations {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  .disabled {
    border-radius: 4px;
    opacity: 0.3;
    border-radius: 10px;

    a {
      span {
        padding: 10px;
        border: 1px solid #d7bedb !important;
        background: #d7bedb !important;
        padding: 11px !important;
        display: inline-block !important;
      }
    }
  }

  .page-link {
    span {
      border-radius: 4px;
      border: 1px solid #7f2e8c !important;
      background: #fff;
      color: #6a2675;
      padding: 11px;
    }
  }

  .active {
    a {
      color: #6a2675 !important;
      font-weight: 700;
    }
  }
}

@media (max-width: 999px) {
  .image_futcherd_post {
    .o_record_cover_container {
      height: 208.605px !important;
    }
  }
  .pagenations {
    padding-top: 35px !important;
  }
  #card_blogs_Taqat {
    border-bottom: 1px solid #d1d5db;
    padding-top: 10px;
  }
}

#blog_details {
  .max-width-details-task {
    max-width: 882px;
  }

  .o_record_cover_container {
    width: 100% !important;
    max-width: 800px;
    height: 500px !important;
  }
}

@media (max-width: 789px) {
  #blog_details {
    .max-width-details-task {
      max-width: 100% !important;
    }

    .o_record_cover_container {
      height: 320px !important;
    }
  }
}

#alternative_blog_posts {
  .o_record_cover_container {
    height: 220px !important;
    box-shadow: none !important;
  }
}

.website_blog #o_wblog_posts_loop .o_record_cover_container {
  height: 220px !important;
  box-shadow: none !important;
}

@media (max-width: 999px) {
  .get-start-hero {
    min-height: 344px !important;
    border-radius: inherit !important;
    background-attachment: scroll !important;
  }
  .your-path {
    .title {
      max-width: 320px !important;
    }
  }
  .get-start-hero::before {
    border-radius: inherit !important;
  }
  .benefits {
    .widget {
      font-size: 14px !important;
      padding: 14px 12px !important;
    }
  }
}

@media (max-width: 789px) {
  .get-start-hero::before {
    border-radius: inherit !important;
  }
  #jobs-carers {
    .title {
      max-width: 198px;
      margin-bottom: 12px;
    }
  }
  .carers-page {
    .title-hero-section {
      max-width: 285px !important;
    }
  }
}

#countriesDropdown:hover {
  background: none !important;
}

#countriesDropdown:focus {
  box-shadow: none !important;
}

#countriesDropdown:active {
  background: none !important;
}

#home_job {
  button {
    color: #0a0a0a !important;
  }

  .oe_search_button:hover {
    span {
      color: black !important;
    }
  }
}

.o_full_screen_height {
  min-height: auto !important;
}

.s_faq_collapse .accordion .card .card-header::before {
  border: 1px solid black;
  padding: 5px;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  font-size: 13px;
  text-align: center;
  color: black;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.get-start-hero::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000066;
  z-index: -1;
  border-radius: 25px;
}

#card_blogs_Taqat:hover {
  svg {
    transition: 0.7s;
    animation: bounce 0.5s infinite alternate; /* use 'bounce' here */
  }

  @keyframes bounce {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

.o_rtl {
        .date {
             a{
           svg{
                   transform: scale(-1);
            }
        }
            }

  button {
    svg {
      transform: scaleX(-1);
    }
  }
  .cursor-custom {
    .carousel-control-next {
      left: 0;
      right: unset;
    }

    .carousel-control-prev {
      right: 0;
      left: unset;
    }
  }

  #card_blogs_Taqat {
    svg {
      transform: scaleX(-1);
    }
  }

  .box {
    svg {
      transform: scaleX(-1);
    }
  }
}
