//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------


$o-theme-h1-font-size-multiplier: (48 / 16);
$o-theme-h2-font-size-multiplier: (40 / 16);
$o-theme-h3-font-size-multiplier: (28 / 16);
$o-theme-h4-font-size-multiplier: (20 / 16);
$o-theme-h5-font-size-multiplier: (18 / 16);
$o-theme-h6-font-size-multiplier: (16 / 16);
$headings-font-weight: 700;
//------------------------------------------------------------------------------
// Presets
//------------------------------------------------------------------------------

$spacer: 1.25rem !default;
//$spacers: (
//        0: 0,
//        1: $spacer * .25,
//        2: $spacer * .5,
//        3: $spacer,
//        4: $spacer * 1.5,
//        5: $spacer * 3,
//        6: $spacer * 4.5,
//        7: $spacer * 5,
//) !default;
//$grid-breakpoints: (
//        xs: 0,
//        sm: 576px,
//        md: 768px,
//        lg: 992px,
//        xl: 1200px,
//        xxl: 1400px,
//        xxxl: 1600px
//);
//$container-max-widths: (
//        sm: 540px,
//        md: 720px,
//        lg: 960px,
//        xl: 1140px,
//        xxl: 1350px,
//        xxxl: 1500px
//);
//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-website-values-palettes: (
        (
                'color-palettes-name': 'indoqat_colors',
                'link-underline': 'never',
                'line-height-base': '1.5',
                'btn-font-weight': 700,
                'btn-padding-y': 16px,
                'btn-padding-x': 24px,
                'btn-border-radius': 12px,
                'input-padding-y': 16px,
                'input-padding-x': 24px,
                'input-border-radius': 16px,
                'display-1-font-size': 72px,
                'display-2-font-size': 60px,
                'display-3-font-size': 50px,
                'display-4-font-size': 32px,
                'display-5-font-size': 24px,
                'display-6-font-size': 18px,
        ),
);

//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

$o-white: #fff !default;
$o-black: #0A0A0A !default;

$o-gray-100: #F9FAFB !default;
$o-gray-200: #eeeeee !default;
$o-gray-300: #d8dadd !default;
$o-gray-400: #9a9ca5 !default;
$o-gray-500: #7c7f89 !default;
$o-gray-600: #5f636f !default;
$o-gray-700: #374151 !default;
$o-gray-800: #1F2937 !default;
$o-gray-900: #111827 !default;

$o-success: #1dc959 !default;
$o-info: #6AB5FB !default;
$o-warning: #FBB56A !default;
$o-danger: #b83232 !default;
$light: #eeeeee !default;
$dark: #0A0A0A !default;
$body-color: #0A0A0A !default;


// Fine-tune contextual text colors.
$o-color-palettes: map-merge($o-color-palettes,
        (
                'indoqat_colors': (
                        'o-color-1': #F13223,
                        'o-color-2': #343434,
                        'o-color-3': #F9FAFB,
                        'o-color-4': #ffffff,
                        'o-color-5': #050505,
                ),
        )
);


// Compatibility
$o-theme-color-palettes: map-merge($o-theme-color-palettes,
        (
                'indoqat_colors': (
                        'o-color-1': #F13223,
                        'o-color-2': #343434,
                        'o-color-3': #F9FAFB,
                        'o-color-4': #ffffff,
                        'o-color-5': #050505,
                ),
        )
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'indoqat_colors');

$o-color-palettes-compatibility-indexes: (
        1: 'indoqat_colors-1',
        2: 'indoqat_colors-2',
        3: 'indoqat_colors-3',
        4: 'indoqat_colors-4',
        5: 'indoqat_colors-5',
        6: 'indoqat_colors-6',
);


//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-font-configs: (
        'Inter': (
                'family': ('Inter', sans-serif),
                'url': 'Inter:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i',
        ),
        'Almarai': (
                'family': ('Almarai', sans-serif),
                'url': 'Almarai:300,400,700,900',
        ),
        'Poppins': (
                'family': ('Poppins', sans-serif),
                'url': 'Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i',
        ),
        'Cairo': (
                'family': ('Cairo', sans-serif),
                'url': 'Cairo:200,300,400,500,600,700,800,900,1000',
        ),
        'Saira': (
                'family': ('Saira', sans-serif),
                'url': 'Saira:100,200,300,400,500,600,700,800,900',
        ),
        'Montserrat': (
                'family': ('Montserrat', sans-serif),
                'url': 'Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i',
        ),
        'Shadows Into Light Two': (
                'family': ('Shadows Into Light Two', cursive),
                'url': 'Shadows+Into+Light+Two&display=swap',
        ),
        'El Messiri': (
                'family': ('El Messiri', sans-serif),
                'url': 'El+Messiri:400,500,600,700',
        ),
        'PT Serif': (
                'family': ('PT Serif', sans-serif),
                'url': 'PT+Serif:400,400i,700',
        ),
        'Roboto': (
                'family': ('Roboto', sans-serif),
                'url': 'Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i',
        ),
        'Open Sans': (
                'family': ('Open Sans', sans-serif),
                'url': 'Open+Sans:300,300i,400,400i,700,700i',
        ),
        'Source Sans Pro': (
                'family': ('Source Sans Pro', sans-serif),
                'url': 'Source+Sans+Pro:300,300i,400,400i,700,700i',
        ),
        'Raleway': (
                'family': ('Raleway', sans-serif),
                'url': 'Raleway:300,300i,400,400i,700,700i',
        ),
        'Noto Serif': (
                'family': ('Noto Serif', serif),
                'url': 'Noto+Serif:300,300i,400,400i,700,700i',
        ),
        'Arvo': (
                'family': ('Arvo', Times, serif),
                'url': 'Arvo:300,300i,400,400i,700,700i',
        ),
);


//------------------------------------------------------------------------------
// Shapes
//------------------------------------------------------------------------------

$o-bg-shapes: change-shape-colors-mapping('web_editor', 'Wavy/21', (2: 1));
$o-bg-shapes: change-shape-colors-mapping('web_editor', 'Bold/07_001', (2: 3));
