/* Error: Undefined variable.
 *    ,
 * 97 | $o-color-palettes: map-merge($o-color-palettes,
 *    |                              ^^^^^^^^^^^^^^^^^
 *    '
 *   primary_variables.scss 97:30  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 97 \2502  $o-color-palettes: map-merge($o-color-palettes,\d\a    \2502                               ^^^^^^^^^^^^^^^^^\a    \2575 \a   primary_variables.scss 97:30  root stylesheet";
}
